<div class="app-footer-container">
  <div class="app-footer-trademark-wrapper">
    <app-trademark></app-trademark>
  </div>
  <div class="app-footer-nav-links-container">
    <app-nav-links [footer]="true"></app-nav-links>
  </div>
  <div class="app-footer-address-contact-info-container">
    <div class="app-address-info-container">
      <div class="app-address-icon-container">
        <svg fill="#fff" width="90px" height="90px" viewBox="-16 -16 64.00 64.00" version="1.1"
          xmlns="http://www.w3.org/2000/svg" stroke="#fff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>house</title>
            <path
              d="M0 16h4l12-13.696 12 13.696h4l-13.984-16h-4zM4 32h8v-9.984q0-0.832 0.576-1.408t1.44-0.608h4q0.8 0 1.408 0.608t0.576 1.408v9.984h8v-13.408l-12-13.248-12 13.248v13.408zM26.016 6.112l4 4.576v-8.672h-4v4.096z">
            </path>
          </g>
        </svg>
      </div>
      <p>Addresssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
    </div>
    <div class="app-email-info-container">
      <div class="app-email-icon-container">
        <svg width="90px" height="90px" viewBox="-10 -10 40.00 40.00" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" stroke="#fff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>email [#fffff]</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Dribbble-Light-Preview" transform="translate(-340.000000, -922.000000)" fill="#fff">
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M294,774.474 L284,765.649 L284,777 L304,777 L304,765.649 L294,774.474 Z M294.001,771.812 L284,762.981 L284,762 L304,762 L304,762.981 L294.001,771.812 Z"
                    id="email-[#fffff]"> </path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <p>companyemailcompany.com</p>
    </div>
    <div class="app-contact-info-container">
      <div class="app-contact-icon-container">
        <svg width="90px" height="90px" viewBox="-8 -8 32.00 32.00" fill="none" xmlns="http://www.w3.org/2000/svg"
          stroke="#fff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M1 5V1H7V5L4.5 7.5L8.5 11.5L11 9H15V15H11C5.47715 15 1 10.5228 1 5Z" fill="#fff"></path>
          </g>
        </svg>
      </div>
      <p>+91 9579185480</p>
    </div>

    <div class="app-footer-copyright-container">
      <p>Copyright © 2025 TouchWave. All rights reserved</p>
    </div>
  </div>