<section class="app-home-container" [style.backgroundImage]="'url(' + 'images/background-image.png' + ')'">
  <!-- [style.width]="width" -->
  <app-home></app-home>
</section>

<section class="app-value-proposition-container">
  <app-value-proposition></app-value-proposition>
</section>

<section class="app-business-strategy-container">
  <app-business-strategy></app-business-strategy>
</section>

<section class="app-industry-footprint-container">
  <app-industry-footprint></app-industry-footprint>
  >
</section>

<section class="app-information-center">
  <app-information-center></app-information-center>
</section>

<section class="app-footer">
  <app-footer></app-footer>
</section>