<div class="app-business-strategy-content-container">
  <div class="app-business-strategy-value-proposition-wrapper">
    <div class="app-business-strategy-value-proposition">
      <h2>What values are we adding to your business strategy ?</h2>
    </div>

    <div class="app-business-strategy-content-header-wrapper">
      <div class="app-business-strategy-icon-title-wrapper">
        <div class="app-business-strategy-image-container">
          <img height="100" src="/images/Product-Icon.png" alt="Products">
        </div>
        <h2>Products</h2>
      </div>
      <div class="app-business-strategy-icon-title-wrapper">
        <div class="app-business-strategy-image-container">
          <img height="100" src="images/it-services-icon.png" alt="Services">
        </div>
        <h2>Services</h2>
      </div>
      <div class="app-business-strategy-icon-title-wrapper">
        <div class="app-business-strategy-image-container">
          <img height="100" src="images/work-with-us_icon.png" alt="Work With Us">
        </div>
        <h2>Work With Us</h2>
      </div>
    </div>
  </div>

  <div class="app-business-strategy-content-container">
    <div class="app-business-strategy-content-wrapper">

      <div class="app-business-strategy-content-button-wrapper">
        <div class="app-business-strategy-content">
          <p>
            With TouchWave you can rest assured that your products will turn out right the first time. We offer
            superior quality product all backed by our 100 % quality guarantee. Don't Comprise on quality and see the
            difference!
          </p>
        </div>
        <button class="app-business-strategy-button">
          <a routerLink="/products">
            <svg fill="#3671E9" height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-323.4 -323.4 976.80 976.80" xml:space="preserve">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path id="XMLID_222_"
                  d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z">
                </path>
              </g>
            </svg>
          </a>
        </button>
      </div>

      <div class="app-business-strategy-content-button-wrapper">
        <div class="app-business-strategy-content">
          <p>
            Our main goal is to serve the clients with exceptional services and maximize the targeted customer
            potential. We provide end to end solutions for startups and companies seeking growth.
          </p>
        </div>
        <button class="app-business-strategy-button">
          <a routerLink="/services">
            <svg fill="#3671E9" height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-323.4 -323.4 976.80 976.80" xml:space="preserve">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path id="XMLID_222_"
                  d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z">
                </path>
              </g>
            </svg>
          </a>
        </button>
      </div>

      <div class="app-business-strategy-content-button-wrapper">
        <div class="app-business-strategy-content">
          <p>
            We're digital creative service firm. We illuminate imaginations and aims to give successful shape to you're
            dreams from web and mobile development to ideation and branding is to enlighten , inspire, entertain and
            compel.
          </p>
        </div>
        <button class="app-business-strategy-button">
          <a routerLink="/careers">
            <svg fill="#3671E9" height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-323.4 -323.4 976.80 976.80" xml:space="preserve">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path id="XMLID_222_"
                  d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z">
                </path>
              </g>
            </svg>
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<hr>